.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #e9ebee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

body {
  background-color: #dfdfdf;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-family: 'Abril Fatface', cursive;
}

.all-articles {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.article-card {
  justify-content: center;
  padding: 2em;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3em;
  text-align: center;
  background-color: rgb(244, 244, 244);
}

.article-image {
  height: 300px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.share-button {
  border: none;
  color: white;
  background-color: #4CAF50;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  cursor: pointer;
}

/* .share-button:action .reveal-card {
  transform: rotateY(180deg);
} */

.fact-check-button {
  border: none;
  color: white;
  background-color: rgb(211, 122, 122);
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  cursor: pointer;
}

.reveal-card {
  background-color: rgb(230, 233, 255);
  margin: 10px;
  padding: 10px;
}

.responsive_gif {
  height: 400px;
}

.start {
  border: none;
  color: white;
  background-color: #4CAF50;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  cursor: pointer;
  text-decoration: none;
}

.clickbait_reveal {
  color: rgb(208, 83, 44);
}

.real_news_reveal {
  color: #4CAF50;
}

.check-mark, .searching {
  width: 100px;
}

@media only screen and (max-width: 375px) {

  .all-articles {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1em;
  }

  .logo {
    font-size: 2em;
  }

  .article-image {
    width: 265px;
    height: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .article-card {
    align-items: center;
    padding: 2em;
    width: 70%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(244, 244, 244);
  }

}