.App {
  text-align: center;
}

.App-header {
  background-color: rgb(227, 227, 227);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(80, 85, 75);
  font-family: 'Lora', serif;
}

body {
  background-color: rgb(228, 228, 228);
}

h2 {
  font-family: 'Lora', serif;
  font-size: 3em;
}

p {
  font-family: 'Lora', serif;
}

.front-image-container {
  position: relative;
  text-align: center;
}

.newspapers {
  width: 100%;
  position: relative;
  margin-left:0;
  margin-right: 0;
}

.centered-title {
  font-size: 4em;
  color: white;
  font-weight: bold;
  font-family: 'Lora', serif;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-link {
  color: #61dafb;
}

.logo {
  font-family: 'Lora', serif;
  font-weight: bold;
}

.tutorial-guide {
  border-radius: 0.5em;
  background-color: rgb(244, 244, 244);
  padding: 1em;
  margin: -0.5em 8% 2em 8%;
}

button {
  letter-spacing: 3px;
}

.start {
  border-radius: 8px;
}

.all-articles {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.article-card {
  border-radius: 10px;
  justify-content: center;
  padding: 2em;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3em;
  text-align: center;
  background-color: rgb(244, 244, 244);
  box-shadow: -1px 2px 24px 12px rgba(201,201,201,1);

}

.article-image {
  height: 300px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.share-button {
  border: none;
  color: white;
  background-color: #4CAF50;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 8px;
}

.fact-check-button {
  border: none;
  color: white;
  background-color: rgb(211, 122, 122);
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 8px;
}

.reveal-card {
  border-radius: 15px;
  background-color: rgb(230, 230, 230);
  margin: 10px;
  padding: 10px;
}

.responsive_gif {
  height: 400px;
}

.start {
  border: none;
  color: white;
  background-color: #4CAF50;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  cursor: pointer;
  text-decoration: none;
}

.clickbait_reveal {
  font-family: 'Hind Guntur', sans-serif;
  color: rgb(208, 83, 44);
}

.real_news_reveal {
  font-family: 'Hind Guntur', sans-serif;
  color: #4CAF50;
}

.check-mark, .searching {
  width: 100px;
}

@media only screen and (max-width: 375px) {

  .centered-title {
    width: 80%;
    font-size: 2em;
  }

  .all-articles {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 1em;
  }

  .logo {
    font-size: 2em;
  }

  .article-image {
    width: 100%;
    height: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .article-card {
    align-items: center;
    padding: 2em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(244, 244, 244);
  }
}